# Force Dart detection
*.dart linguist-language=Dart

# Ignore all other types
*.yaml linguist-detectable=false
*.xml linguist-detectable=false
*.gradle linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.json linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.java linguist-detectable=false
*.cmake linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false

# Ignore build or platform folders
android/* linguist-detectable=false
ios/* linguist-detectable=false
linux/* linguist-detectable=false
macos/* linguist-detectable=false
windows/* linguist-detectable=false
build/* linguist-detectable=false
